## @(#) : editorconfig common template for atsushifx
##
## EditorConfig is awesome: https://EditorConfig.org
#
# @version  1.2.0
# @date     2025-01-31
# @author   atsushifx <atsushuifx@gmail.com>
# @license  MIT
#
# @description<<
#
# Common editor settings for general programming and documentation files.
# Applies consistent indentation and line-ending rules.
#
#<<

root = true

### Base Settings
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
tab_width = 2

### Documents
# Markdown
[*.md]
indent_style = space
indent_size = 2
tab_width = 2

### Programming Languages
# Add language-specific settings here if needed (e.g., .ts, .js, .py)

### Settings
# JSON
[*.json]
indent_style = space
indent_size = 2
tab_width = 2

# YAML
[*.{yaml,yml}]
indent_style = space
indent_size = 2
tab_width = 2

# INI, TOML
[*.{ini,toml}]
indent_style = tab
tab_width = 4

# rc files
[*rc]
indent_style = space
indent_size = 2
tab_width = 2

### Shell Scripts
# Shell (sh, bash, zsh)
[*.{sh,bash,zsh}]
indent_style = space
indent_size = 2
tab_width = 2

# PowerShell
[*.ps1]
indent_style = space
indent_size = 4
tab_width = 4

### Git config
[*.git*]
indent_style = tab
tab_width = 4

[**/git/*]
indent_style = tab
tab_width = 4


### Special Files
# Makefile, Dockerfile, LICENSE, etc.
[{Makefile,Dockerfile,LICENSE}]
indent_style = space
indent_size = 2
