## EditorConfig is awesome: https://EditorConfig.org
#
# @(#) : til Today I learned
#
# @version  1.0.0
# @date		2024-04-22
# @author	Furukawa Atsushi <atsushifx@aglabo.com>
# @license  MIT
#
# @description<<

# default settings for til
# markdown and lint settings
#
#
#<<

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# default character-set
charset = utf-8

# indent style
indent_size = tab
indent_style = tab
tab_width=4

# ext type settings

# script executable
[**.]
indent_style = space
indent_size = 2
tab_width = 2


### Languages

### Documents
# markdown
[**.md]
indent_size = tab
tab_width = 2
indent_style = space

### Settings
# json, yml
[**.{json,yml,yaml}]
tab_width = 4
indent_style = tab


### Git config
# for git config
[**.git*]
indent_style = tab
indent_size = tab
tab_width = 4

[**/git/*]
indent_style = tab
indent_size = tab
tab_width = 4
