##  @(#) : git ignore settings for til (Today I learned)
#
# @version  1.0.0
# @author   Furukawa Atsushi <atsushifx@aglabo.com>
# @update   2024-04-22
# @license  MIT
#
# @desc<<
#
# git ignore settings for til,
# ignore general
#
#<<

##
#	OS created files
#
.DS_Store
thumbs.db

##
#	backup/swap/temp
$~*
~*
*~
*tmp
*swp
*swap
*lock

##  Editor

# Vim

# Session
Session.vim
Sessionx.vim

# cache
*cache*


tags
# Persistent undo
[._]*.un~

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/cspell*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions

